<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titlename}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/mediaquery.css">
    <link rel="shortcut icon" href="/static/images/icons/Layer 2.png" type="image/x-icon">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div id="nav-container">
        <div id="navbar">
            <!-- Hamburger Menu Icon -->
            <div id="hamburger-menu" class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <!-- Navigation Menu -->
            <ul id="nav-menu">
                <li><a href='{{url_for("about_me")}}' title="Home Page">About Me</a></li>
                <li><a href="https://bit.ly/CodeYourFirstWebsite" target="_blank">Upcoming Bootcamp</a></li>
                <li><a href="http://wa.me//+2347077705842" target="_blank">Contact Me</a></li>
            </ul>
            <div id="social-icons">
                <div class="social"><a href="https://web.facebook.com/smiictinstitute" target="_blank"><img src="/static/images/icons/facebook.png" alt="facebook"></a></div>
                <div class="social"><a href="https://www.instagram.com/smiictinstitute/" target="_blank"><img src="/static/images/icons/instagram.png" alt="Instagram"></a></div>
                <div class="social"><a href="https://x.com/spwebtech87" target="_blank"><img src="/static/images/icons/twitter.png" alt="Twitter"></a></div>
                <div class="social"><a href="https://www.youtube.com/@smiictinstitute" target="_blank"><img src="/static/images/icons/youtube.png" alt="YouTube"></a></div>
            </div>
        </div>
    </div>
    {% block content %}
    
    {% endblock %}
</body>

</html>
